@font-face {
  font-family: "Carter One";
  src: url("./assets/CarterOne-Regular.ttf");
}
@font-face {
  font-family: "Outfit";
  src: url("./assets/Outfit-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

:root {
  --bg-prim: rgb(255, 248, 240);
  --bg-sec: rgb(202, 181, 162);
  --sec: rgb(140, 90, 60);
  --prim: rgb(75, 46, 43);
  --blue: rgb(29, 106, 240);
  --blue-l: rgb(116, 164, 247);
  --red: rgb(172, 27, 27);
  --yellow: rgb(253, 189, 71);
  --green: rgb(30, 155, 35);
}

body {
  min-width: 900px;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 100px 1fr 28px;
  background-color: var(--bg-prim);
  color: var(--prim);
}

hr {
  height: 3px;
  background-color: var(--bg-sec);
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.header {
  grid-column: span 3;
  font-size: 3rem;
  padding: 20px;
  box-shadow: 0 2px 10px 5px var(--bg-sec);
  font-family: "Carter One", sans-serif;
}

.container {
  margin: 20px;
  padding: 10px;
  box-shadow: 0 0 10px 5px var(--bg-sec);
  border-radius: 5px;
}

.subtitle {
  font-size: 2rem;
  padding: 10px;
  font-family: "Carter One", sans-serif;
}

ul {
  list-style-type: none;
}

li {
  border: 2px solid var(--bg-sec);
  margin: 10px auto;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.li-proj {
  flex: 1;
  text-align: center;
  font-size: 1rem;
  padding: 10px;
}
.li-proj:hover {
  cursor: pointer;
}

.del-btn {
  height: 30px;
  width: 30px;
  background-color: inherit;
  border: none;
  padding: 0 5px;
}

.add-btn {
  border: none;
  border-bottom: 6px solid var(--blue-l);
  border-radius: 20px;
  background-color: var(--blue);
  color: var(--bg-prim);
  font-size: 1.2rem;
  margin: auto;
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-btn:active {
  border: none;
  border-top: 6px solid var(--bg-prim);
  background-color: var(--blue-l);
}
.add-btn img {
  height: 25px;
  width: 25px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: var(--bg-sec);
  box-shadow: 0 0 6px 2px var(--prim);
  width: fit-content;
  margin: auto;
  padding: 10px;
}
.form-title {
  font-size: 1.4rem;
  padding: 0;
}

input[type="text"],
textarea,
input[type="date"] {
  background-color: var(--bg-prim);
  border: 3px solid var(--sec);
  border-radius: 5px;
  color: var(--prim);
  margin: 5px 0;
  padding: 5px;
  width: 100%;
}
input[type="text"]:focus,
textarea:focus,
input[type="date"]:focus {
  outline: none;
  border: 3px solid var(--prim);
}
textarea {
  height: 100px;
  resize: none;
}

.form-btns {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: end;
  padding: 10px 5px 0 0;
}

.cancel-btn,
.confirm-btn {
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  color: var(--bg-prim);
}
.cancel-btn {
  background-color: var(--red);
}
.confirm-btn {
  background-color: var(--green);
}

.flag-check {
  display: flex;
}

.task-title {
  flex: 1;
  padding: 10px;
}

.completed {
  background-color: var(--bg-sec);
  color: var(--sec);
  text-decoration-line: line-through;
  font-style: italic;
}

.priority {
  height: 40px;
  width: 20px;
  border-radius: 3px 0 0 3px;
}
.high {
  background-color: var(--red);
}
.normal {
  background-color: var(--yellow);
}
.low {
  background-color: var(--green);
}
.completed-flag {
  background-color: var(--sec);
}

.inputs {
  display: flex;
  gap: 10px;
}

fieldset {
  border: 3px solid var(--sec);
  border-radius: 5px;
  color: var(--prim);
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

fieldset label {
  display: flex;
  gap: 5px;
}

input[type="radio"],
input[type="checkbox"] {
  accent-color: var(--prim);
  margin: 0 10px;
}

#task-details {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5px;
  padding: 10px;
  align-content: baseline;
}

.field-key {
  text-align: right;
  font-weight: 600;
  padding: 5px;
}

.field-value {
  background-color: var(--bg-sec);
  padding: 5px;
}

.field-completed {
  grid-column: span 2;
  border-radius: 10px;
  background-color: var(--prim);
  color: var(--bg-prim);
  margin: 10px 20px;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  font-style: oblique;
  font-weight: 700;
}

.info-message {
  grid-column: span 2;
  margin: 10px 20px;
  padding: 10px;
  font-size: 1.2rem;
  font-style: oblique;
  font-weight: 500;
}

.footer {
  grid-column: span 3;
  text-align: center;
  padding: 5px;
  box-shadow: 0 -2px 10px 5px var(--bg-sec);
}
